<?xml version="1.0" encoding="utf-8"?>

<plugin>
    <name>Sample API</name>
    <key>owapi</key>
    <description>Sample API plugin for Oxwall.</description>
    <author>John Sanders</author>
    <authorEmail>john.sanders.ios@yandex.ru</authorEmail>
    <authorUrl>http://ow.johnsanders.pw/</authorUrl>
    <developerKey>c682d1ed22089244fd17af707a4c199e</developerKey>
    <build>0001</build>
    <copyright>(C) 2015 Sanders Inc. All rights reserved.</copyright>
    <license>The GNU General Public License, v2</license>
    <licenseUrl>http://opensource.org/licenses/gpl-2.0.php</licenseUrl>
</plugin>